body{
    margin: 0;
    background-color: #3F3E3E;
    user-select: none;
}

h1 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 42px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
.arrowshide{
    display: none;
}
.arrowsshow{
    display: block;
    
}
#container{
    border: 10px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    width: 1024px;
    height: 600px;
    margin: -300px 0 0 -512px;
    text-align: center;
}

.info-container{
    position: absolute;
    right: 150px;
    top: 150px;
    width: 300px;
}

#gotham-skyline{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.spotlight-container{
    position: absolute;
    left: 200px;
    height: 500px;
    width: 500px;
    bottom: 0px;
}

#cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 1024;
    height:600;
    background-image: url(images/cloud.png);
    background-size:1024px 600px;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    opacity:0.2;
    z-index: -1;
    animation: animatedBackground 30s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0px; }
	to { background-position: -1024px 0px; }
}

#batman{
    position: absolute;
    z-index: 10;
    width: 190px;
}

#batman2{
    position: absolute;
    z-index: 10;
    width: 190px;
}

#dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 5;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 8px;
    background-color: #655741;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #FBB74B;
}


.glitch {
  position: absolute;
}

.bottom {

   font-size:100px;
  -webkit-clip-path: inset(58% 0 0 0);
  clip-path: inset(58% 0 0 0);
}

.top {
   -webkit-clip-path: inset(0 0 41% 0);
  clip-path: inset(0 0 41%);
}

#spotlight{
    position:absolute;
    z-index: -23;
    left: 0;
    bottom: 0;
}

.spotlight-box{
    position: absolute;
    height: 200px;
    width: 190px;
    left: 100px;
    top:52px;
}
/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 44px;
    width: 50px;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}


/* Position the buttons to the left and right */
.prev{    
    left: 0;
    transform: rotate(90deg);
}
.next {
    right: 0;
    transform: rotate(-90deg);
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(232,171,74, 0.8);
}


